<div class="container" style="max-width: 500px; ">
    <br>
    <h1>        Your Order Details </h1>           
        <table class="table table-bordered">
          <tr>
              <td>Order Id</td>
              <td>1</td>
            </tr>
            <tr>
                <td >Customer Id</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Product Id</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Price</td>
                <td>300</td>
              </tr>
              <tr>
                <td>Total Bill</td>
                <td>500</td>
              </tr>
        </table>
     
<button type="submit" class="btn btn-info "(click)="gotopaymentgateway()" >Proceed To Payment </button> 
<br>
  <br>
  <br>
</div>