

  <div class="container" style="max-width: 300px; ">
    <h2>Select Payment Option</h2>
    <br>
    <br>
    
        <label><input type="radio" name="optradio" checked>Credit Card</label>
        <br>
        <br>
     
        <label><input type="radio" name="optradio">Debit Card</label>
        <br>
        <br>
      
        <label><input type="radio" name="optradio" >Cash On Delivery</label>
        <br>
        <br>
        <button type="submit" class="btn btn-primary" (click)="gotopaymentsuccess()">Proceed</button>
        <br>
  <br>
  <br>
  </div>
  