
<br>
<div class="container" style="max-width: 1000px; margin-top: 0px;">
<br>
<h2> About Us</h2>
<strong><p >
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       It’s a party every day at WarmOven! We have had the privilege of being a part of close to 1m celebrations.
 We’ve grown from one birthday to another, from first anniversary to the fifth & from first baby shower to the 
 second with every customer we’ve served. Yes, we love what we do & take pride in serving you the most 
 delicious products. </p>
<p>
You need to have a great looking & great tasting cake to celebrate any milestone in your life. 
Hence, in the age of click & mouse we saw the need for a dynamic change in the traditional way of buying & 
consuming cakes. The age-old ways of picking up a not-so-fresh cake off the shelf & transporting it safely
 back home proved to be a disappointment most of the time. As a consumer, you needed something better and 
 we came into existence by delivering fresh cakes to your doorstep directly from the kitchen. 
We made it as easy as Choose, Add to Cart and Relish! </p>
</strong>
<br>
<br><br>
</div>
