
    <h2  style="max-width: 500px; margin-top: 0px;">Cart Details</h2>
    <section class="cart_section">
<div class="cartimg">
    <div class="container">
        
        <table class="table table-bordered">
            <tr>
                <th>Image</th>
                <th>Customer_id</th>
                <th>Cake_id</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <th>Pic-Blackforest</th>
                <th>20</th>
                <th>23</th>
                <th>2</th>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary" (click)=gotocheckout()>Place Order</button>
    <br>
<br>
<br>
      </div>  
    </div>
    </section>
    