

<br>
<br>
<div class="container" style="max-width: 500px; ">
    <h2>Contact Us </h2>
    
    <br>
    
        <label>Online Cake Shop </label>
        <br>
        <br>
        
        <label>Contact Person :Archana Thapliyal</label>
        <br>
      

        <label>Contact No:9850564256</label>
        <br>
        <br>
        <label>Contact Person :Kirti Jejurkar </label>
        <br>
       

        <label>Contact No:8620204563</label>
        <br>
        <br>
      
        <label>EmailId: admin@gmail.com</label>
        <br>
        <br>
        <label>Address : Pune, Maharashtra</label>
        <br>
        <br>
        
  </div>

  